h1 {
 text-align: center;
 background-color: aliceblue;
}

.main{
 background-color: #ccc;
}

p{
 background-color: bisque;
}

body{
 background-color: #ccc;
}

img{
 width: 100%;
}


.diferenciales{
 background-color: aqua;
}

h2{
 text-align: center;
}

.items{
  font-style: italic;
}