.main-title{
 padding-left: 30px;
}

.title-center{
 text-align: center;
 background-color: aliceblue;
}

.main{
 background-color: #ccc;
 padding: 20px;
}

p{
 background-color: bisque;
}

body{
 background-color: #ccc;
}

img{
 width: 100%;
}

.diferenciales{
 background-color: aqua;
 padding: 30px;
}


.items{
  font-style: italic;
}

ul{
 display: inline-block;
 vertical-align: top;
 width: 20%;
 margin-right: 15%;
}

.imagen-diferenciada{
 width: 50%;
}